<configuration>
    <property name="LOG_PATH" value="./logs" />

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="springProfile" source="spring.profiles.active" />
    <springProperty scope="context" name="lokiEndpoint" source="loki.endpoint"/>

    <!-- 콘솔 로그 (local, dev, stg, prd) -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일 로그 (dev, stg, prd) -->

        <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 롤링은 매일 00시를 기준 -->
            <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 최대 보관기간은 3일 -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Loki" class="com.github.loki4j.logback.Loki4jAppender">
        <!-- Loki 서버 주소 -->
        <http>
            <url>${lokiEndpoint}</url>
        </http>
        <format>
            <label>
                <pattern>app=${springAppName},env=${springProfile},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>{"time":"%d{ISO8601}","thread":"%thread","logger":"%logger{36}","level":"%level","message":"%message","exception":"%exception"}%n</pattern>
            </message>
        </format>
        <batchSize>100</batchSize>
        <batchTimeoutMs>1000</batchTimeoutMs>
    </appender>

    <!-- 로깅 레벨 환경별 설정 -->

    <!-- local profile override -->
    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <!-- dev profile override -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="FileAppender"/>
            <appender-ref ref="Loki"/>
        </root>
    </springProfile>

    <!-- stg profile override -->
    <springProfile name="stg">
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="FileAppender"/>
            <appender-ref ref="Loki"/>
        </root>
    </springProfile>

    <!-- prd profile override -->
    <springProfile name="prd">
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="FileAppender"/>
            <appender-ref ref="Loki"/>
        </root>
    </springProfile>
</configuration>
